// 自定义背景图
@media screen and (min-width:1200px) {

    body {	
    background-image:url(/images/theme_background.jpg);      //这一行的括号里填背景图片的路径，将图片重命名为background.jpg放在\themes\next\source\images下，也可填图片的链接。
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:100% 100%;
   
   }

    #footer a {
        color:#eee;
    }
}
	//改变背景色和透明度
     .main-inner {
		background: #fff;
		opacity: 0.9;
	}
	//改变菜单栏透明度
	 .header-inner {
		background: #ffffffe8;
		opacity: 1;
	}
	//标题颜色
	 .site-meta  {
	     background: #000;
	 }

    //标题字体及背景
	.site-title {
		display: inline-block;
		vertical-align: top;
		line-height: 36px;
		font-size: 32px;
		font-weight: normal;
		font-family: 'Lato', "PingFang SC", "FZShuTi", sans-serif;
		color: #fff;
	}
	
	//副标题配置
	.site-subtitle {
		margin-top: 10px;
		font-size: 17px;
		color: #000;
		font-family: 'Lato', "PingFang SC", "STXingkai", sans-serif;
    }
	
	//底部博客信息颜色
	.footer {
		font-size: 14px;
		color: #000;
    }
	//当鼠标移动到选项时的优化
	.menu .menu-item a:hover, .menu-item-active a {
		background: #ffffff85;
		border-bottom-color: #dcd1d196;
    }

    //菜单右部的点
    .menu-item-active a:after {
		content: " ";
		position: absolute;
		top: 50%;
		margin-top: -3px;
		right: 15px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #484848;
    }